[push]
	default = simple
[user]
	email = dule@hey.com
	name = Dusan Orlovic
[core]
	excludesfile = ~/.gitignore_global
[alias]
	add-commit = !git add -A && git commit
	d = diff
	c = commit
	s = status
	st = status
	o = show
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|main' | xargs -n 1 -r git branch -d"
	mgd = "!git merge $1 && git branch -d $1; #"
	mgdd = "!git merge $1 && git branch -d $1 && git push origin -d $1; #"
[pull]
	ff = only
[init]
	defaultBranch = main
