[push]
	default = simple
[user]
	email = dule@hey.com
	name = Dusan Orlovic
[core]
	excludesfile = /home/orlovic/.gitignore_global
[alias]
	add-commit = !git add -A && git commit
	d = diff
	c = commit
	s = status
	st = status
	o = show
[pull]
	ff = only
[init]
	defaultBranch = main
