<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>windowId-colon</key>
	<integer>3172</integer>
	<key>windowId-comma</key>
	<integer>11887</integer>
	<key>windowId-dot</key>
	<integer>15272</integer>
	<key>windowId-h</key>
	<integer>542</integer>
	<key>windowId-i</key>
	<integer>4185</integer>
	<key>windowId-j</key>
	<integer>317</integer>
	<key>windowId-k</key>
	<integer>10253</integer>
	<key>windowId-l</key>
	<integer>15296</integer>
	<key>windowId-m</key>
	<integer>3493</integer>
	<key>windowId-n</key>
	<integer>2139</integer>
	<key>windowId-o</key>
	<integer>15296</integer>
	<key>windowId-slash</key>
	<integer>430</integer>
	<key>windowId-u</key>
	<integer>15832</integer>
	<key>windowName-colon</key>
	<string>Terminal</string>
	<key>windowName-comma</key>
	<string>Terminal</string>
	<key>windowName-dot</key>
	<string>Terminal</string>
	<key>windowName-h</key>
	<string>Google Chrome</string>
	<key>windowName-i</key>
	<string>Firefox</string>
	<key>windowName-j</key>
	<string>Terminal</string>
	<key>windowName-k</key>
	<string>Terminal</string>
	<key>windowName-l</key>
	<string>Terminal</string>
	<key>windowName-m</key>
	<string>Terminal</string>
	<key>windowName-n</key>
	<string>Terminal</string>
	<key>windowName-o</key>
	<string>Terminal</string>
	<key>windowName-slash</key>
	<string>Terminal</string>
	<key>windowName-u</key>
	<string>Safari</string>
</dict>
</plist>
